:root {
    --primary: lightblue;
    --accent: #ffffff;
    --font0: Arial, sans-serif;
    --font1: Georgia, serif;
    --font2: Andale Mono, monospace;
}

body {
    background-color: var(--primary);
}

header {
    position: static;
}

main {
    position: relative;
    top: 10px;
    left: 40px;
}

aside {
    position: absolute;
    top: 300px;
    right: 100px;
}