:root {
    --bg: lightblue;
    --textcol0: red;
    --textcol1: blue;
    --textcol2: green;
    --font0: Arial, sans-serif;
    --font1: Georgia, serif;
    --font2: Andale Mono, monospace;
}

body {
    background-color: var(--bg);
}